<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>


    <div id="box">
        {{#if error}}
        <div class="error-container">
            <p>{{error}}</p>
        </div>
        {{/if}}

        <nav>

            <img src="/img/logo.png" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">All Posts</a></li>
                <!-- Logged users -->
                {{#if isAuthenticated}}
                <li><a href="/create">Create Post</a></li>
                <li><a href="/user/posts">Posts of {{email-of-user}}</a></li>
                <li><a href="/user/logout">Logout</a></li>
                {{else}}
                <!-- Guest users -->
                <li><a href="/user/register">Register</a></li>
                <li><a href="/user/login">Login</a></li>
                {{/if}}
            </ul>

        </nav>


        {{{body}}}

        <footer>
            © Js Back-End Exam 2021
        </footer>
    </div>

</body>

</html>